body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.landing-page{
  background: linear-gradient(
    to bottom,
    transparent,
    #321aa1
  )
}
button{
  cursor: pointer;
}
